<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/sakura.css') }}" />
        <style>
            div.container {
                width: 300px;
                padding: 50px;
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="container">
                <h2>IndieEnd Upload Page</h2>
            </div>
            <div class="container">
                <form action="{{ url_for('index')}}">
                    <input type="submit" value="Go back to Home" />
                </form>
            </div>
            <div class="container">
                <button type="submit">
                    Upload Image
                </button>
            </div>
        </div>
    </body>

</html>
